# .env file to set up your wordpress site

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# Database Container options
# We recommend MySQL or MariaDB - please update docker-compose file if needed.
#
DB_VERSION=latest

CONTAINER_DB_NAME=new-site-db

# Path to store your database
DB_PATH=./../data/db

# Root password for your database
MYSQL_ROOT_PASSWORD=root_password

# Database name, user and password for your wordpress
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

#
# Wordpress Container options
#
WP_VERSION=latest

CONTAINER_WP_NAME=new-site-wordpress

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Path to store your wordpress files
WP_CORE=./../data/site/wordpress-core
WP_CONTENT=./../data/site/wp-content

# Table prefix
WORDPRESS_TABLE_PREFIX=wp_

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com

#
# PHPMyAdmin options
#
PMA_VERSION=latest

# PHPMyAdmin Domain
PMA_DOMAIN=pma.domain.com

#
# Wordpress Backup
#
# [ATTENTION]
#
# In order to use the wordpress backup available at:
#
# https://github.com/evertramos/docker-wordpress-backup
#
# You must uncomment these lines below and fix number as needed

# Limit free disk space to clean up old backup files
# In KB - 400000 >> 400Mb
#DISK_SPACE_LIMIT_CLEAN=1000000

# PID File
#PID_FILE=.docker-wordpress-backup.pid

#
# Backup location
#
# This option should be used when backing up using the script in the repo:
# https://github.com/evertramos/docker-wordpress-backup
#BACKUP_PATH_NAME=/backup

#
# Crontab Rules
#
# Please only enable that if you know what you are doing, please refer to these samples:
#
# https://crontab.guru/examples.html
#
# And test if your setting is working
#
# Here is a basic rule for backup everyday at 04 am from monday to friday as of:
#
# https://crontab.guru/#00_04_*_*_1-5
#
#BACKUP_CRONTAB_RULE="00 04 * * 1-5"

