# .env file to set up your wordpress site

#
# Compose default env variables
#
COMPOSE_PROJECT_NAME=new-site

#
# Network name
# 
# Your container app must use a network conencted to your webproxy 
# https://github.com/evertramos/docker-compose-letsencrypt-nginx-proxy-companion
#
NETWORK=webproxy

#
# Database Container options
#

# Database image (mariadbmysql)
DB_IMAGE=mariadb

# Database version
DB_VERSION=latest

# Database container name
CONTAINER_DB_NAME=new-site-db

# Path to store your database files
DB_FILES=./data/db

# Root password for your database
MYSQL_ROOT_PASSWORD=root_password

# Database name, user and password for your wordpress
MYSQL_DATABASE=database_name
MYSQL_USER=user_name
MYSQL_PASSWORD=user_password

#
# Wordpress Container options
#

# Wordpress version
#
# [IMPORTANT] We recommend to always set a version when starting a new site.
# When migrating or restoring a backup you must know the running version for
# theme and plugins compatibility.
WP_VERSION=latest

# Wordpress container name
CONTAINER_WP_NAME=new-site-site

# Max Log File Size
LOGGING_OPTIONS_MAX_SIZE=200k

# Path to store your wordpress files
WP_FILES=./data/site

# Table prefix
WORDPRESS_TABLE_PREFIX=wp_

# Your domain (or domains)
DOMAINS=domain.com,www.domain.com

# Your email for Let's Encrypt register
LETSENCRYPT_EMAIL=your_email@domain.com
